#dialog {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 10px solid #888;
            padding: 20px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            height: 600px;
}
#dialog iframe {
            width: 1200px;
            min-height: 600px;
            border: none;

}
#overlay {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
}


.top-right-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5;
  padding: 5;
}

